
.card{
    height: 60vh;
    width: 30vw;
    background-image:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); ;
    display: grid;
    place-items: center;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s;
    border: 1px black solid;
}
.card:hover{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    color: white;
}
.image{
    height: 10vh;
    transform: scale(1.5);
}
.details{
    display: flex;
    gap: 20px;
    font-size: 10px;
}
.hard-details{
    text-transform: uppercase;   
}
.btn{
    height: 5vh;
    width: 20vh;
    background-color: black;
    color: white;
    font-size: 20px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.719);
}